- unless element.revisions.empty?
  - form_tag send("edit_admin_#{(element.is_a?(Page) ? Page : element.class).to_s.underscore}_path", element), :method => :get do
    #revision
      %label{ :for => "revision" }
        %strong Show Revision
      = insert_select_revision_tag(element)
      %input{ :type => "submit", :value => "Switch" }
      - if params[:revision] && params[:revision].to_i != element.published_revision_number.to_i
        %span{:style => "font-size:1.4em; color: red;"} This is not the Published version.
      - else
        %span{:style => "font-size:1.4em; color: green;"} This is the Published version.