- unless @snippet.revisions.empty?
  %p.buttons
    = insert_snippet_preview_submit_tag
    %span Preview with Page
    = select_tag "page_to_preview", options_for_select(insert_options_for_snippet_preview)